<!DOCTYPE html>
<html>

<head>
    <title>Signup Page</title>
</head>

<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>



        <button type="submit">Signup</button>
    </form>
</body>

</html>